{%  extends 'base.html'  %}
{% load static i18n %}

{% block body %} 
    <section class="row background_slider_row">
        <div class="flexslider background_slider">
            <ul class="slides">
                <li style="display: block !important;"><img src="/static/images/doctor.png" alt="" class="img-responsive"></li>
            </ul>
        </div>         
     </section>
    
    <section class="row">
    {% if messages %}
        {% for m in messages %}
            {% if 'success' in m.tags %}
            <div class="alert alert-success" id="contactSuccess">
                <strong>{{ m }}</strong>
            </div>
            {% elif 'error' in m.tags %}
            <div class="alert alert-danger" id="contactError">
                <strong>{{ m }}</strong>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
        <div class="form_top_part_row row m0">
            <div class="container">
                <div class="row m0 form_top_part">
                    <h4>{% trans "Qeydİyyat" %}</h4>
                </div>
            </div>
        </div>
        <form class="row m0 form_row appointment_home_form" method="post">
            {% csrf_token %}
            <div class="container">
                <div class="row m0 inner">
                    <div class="col-sm-4">
                        {{ reg_form.full_name }}
                        <div class="placeholder">your full name</div>
                    </div>
                    <div class="col-sm-4">
                        {{ reg_form.email }}
                        <div class="placeholder">your email address</div>
                    </div>
                    <div class="col-sm-4">
                        {{ reg_form.phone }}
                        <div class="placeholder">your phone number</div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-append date">
                            {{ reg_form.illness }}
                            <div class="placeholder">{% trans "Xəstəliyin adı" %}</div>
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-6">
                        {{ reg_form.message }}
                        <div class="placeholder">your message</div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <button type="submit">{% trans "göndər" %}</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row m0 form_bottom_part_row">
            <div class="container">
                <div  class="row m0 form_bottom_part">
                    <a style="font-size: 25px;" href="tel:{{ settings.number }}"><i class="fas fa-phone"></i>&nbsp;{{ settings.number }}</a>
                </div>
            </div>
        </div>
    </section>
    
    <section class="row service_block_row bgf">
        <div class="container">
            <div class="row titleRow">
                <h2>{% trans "Xəstəlİklər Haqqında" %}</h2>
            </div>
            <div class="row">
                {% for obj in illness_list %}
                <div class="col-sm-6 col-md-4 service_block">
                    <div class="row m0 inner">
                        <div class="row icon"><img src="{{ obj.image.url }}" alt="" style="width: 300px;"></div>
                        <a href="{{ obj.get_absolute_url }}"><h4>{{ obj.name }}</h4></a>
                        {{ obj.content|safe|truncatechars:200 }}
                        <a href="{{ obj.get_absolute_url }}" class="view_all">ətraflı...</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
     
    <section class="row about_medicalpro_row">
        <div class="container">
            <div class="row titleRow">
                <h5>{{ about_us.meta_title }}</h5>
                <h2>{{ about_us.title }}</h2>
            </div>
            <div class="row m0 about_medicalpro">
                <div class="row m0 inner">
                    <div class="col-sm-12 col-md-6 img">
                        <div class="row">
                            <img src="{{ about_us.image.url }}" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 content">
                        <div class="row">
                            <h3>{{ about_us.meta_description }}</h3>
                            <p>{{ about_us.content|safe|truncatechars:400 }}</p>
                            <a href="{% url 'allapps:aboutus' %}" class="view_all">ətraflı</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="row team_section bgf">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-3 team_menu">
                    <div class="row titleRow text-left">
                        <h5>Bİzİm həkİmlər</h5>
                        <h2>təcrübəlİ kadr</h2>
                    </div>
                    <div class="row">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            {% for doc in doctors %}
                            <li role="presentation" class="active media">
                                <a href="#doctor1" aria-controls="doctor{{ forloop.counter }}" role="tab" data-toggle="tab">
                                    <div class="media-left"><img src="/static/images/pages/doctors/1.png" alt=""></div>
                                    <div class="media-body media-middle">
                                        <h5>{{ doc.name }}</h5>
                                        <div class="row designation">{{ doc.illness.first }}</div>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <a href="" class="view_all">view all doctors</a>
                    </div>
                </div>
                <div class="col-sm-8 col-md-9 team_descss">
                    <div class="row">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane media active" id="doctor1">
                                <div class="media-left media-bottom">
                                    <a href="#"><img src="{{ one_doctor.image.url }}" alt="" class="img-responsive"></a>
                                </div>
                                <div class="media-body">
                                    <div class="row titleRow text-left">
                                        <h2>Dr. {{ one_doctor.name }}</h2>
                                        <h5>{{ one_doctor.illness.first }}</h5>
                                    </div>
                                    <p>{{ one_doctor.content|safe|truncatechars:400 }}</p>
                                    <ul class="social_list">
{#                                        <li><a href="{{ settings.twitter }}"><i class="fa fa-twitter"></i></a></li>#}
{#                                        <li><a href="{{ settings.pinterest }}"><i class="fa fa-pinterest"></i></a></li>#}
                                        <li><a href="{{ one_doctor.facebook }}"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="{{ one_doctor.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="{{ one_doctor.instagram }}"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="{{ one_doctor.youtube }}"><i class="fa fa-youtube"></i></a></li>
                                        <li><a href="{{ one_doctor.mail }}"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div><!-- Doctor about-->
                            <div role="tabpanel" class="tab-pane media" id="doctor2">
                                <div class="media-left media-bottom">
                                    <a href="#"><img src="{% static 'images/pages/doctors/1.jpg' %}" alt="" class="img-responsive"></a>
                                </div>
                                <div class="media-body">
                                    <div class="row titleRow text-left">
                                        <h2>Angelina Johnson</h2>
                                        <h5>nurology</h5>
                                    </div>
                                   <p>Fusce ut velit semper, semper arcu quis, aliquam sed justo et sem varius euismod. In ac justo urna unt nisl semper sapien  <br><br> Nec imperdiet augue pretium. Curabitur eu ligula dum libero at, tincidunt sem.</p>
                                    <ul class="social_list">
                                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div><!-- Doctor about-->
                            <div role="tabpanel" class="tab-pane media" id="doctor3">
                                <div class="media-left media-bottom">
                                    <a href="#"><img src="{% static 'images/pages/doctors/1.jpg' %}" alt="" class="img-responsive"></a>
                                </div>
                                <div class="media-body">
                                    <div class="row titleRow text-left">
                                        <h2>Sandra Anderson</h2>
                                        <h5>Cancer Care</h5>
                                    </div>
                                    <p>Fusce ut velit semper, semper arcu quis, aliquam sed justo et sem varius euismod. In ac justo urna unt nisl semper sapien  <br><br> Nec imperdiet augue pretium. Curabitur eu ligula dum libero at, tincidunt sem.</p>
                                    <ul class="social_list">
                                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div><!-- Doctor about-->
                            <div role="tabpanel" class="tab-pane media" id="doctor4">
                                <div class="media-left media-bottom">
                                    <a href="#"><img src="{% static 'images/pages/doctors/1.jpg' %}" alt="" class="img-responsive"></a>
                                </div>
                                <div class="media-body">
                                    <div class="row titleRow text-left">
                                        <h2>Becca Adkins</h2>
                                        <h5>Health Care</h5>
                                    </div>
                                   <p>Fusce ut velit semper, semper arcu quis, aliquam sed justo et sem varius euismod. In ac justo urna unt nisl semper sapien  <br><br> Nec imperdiet augue pretium. Curabitur eu ligula dum libero at, tincidunt sem.</p>
                                    <ul class="social_list">
                                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div><!-- Doctor about-->
                        </div>
                        <div class="visible-xs view_all_btn_4_mobile">
                            <a href="" class="view_all">view all doctors</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="row recent_post_home2">
        <div class="container">
            <div class="row titleRow">
                <h5>Insanların fikirleri</h5>
                <h2>Bizə gələn geri bildirimlər</h2>
            </div>
            <div class="row">
                {% for feed in feedbacks %}
                <div class="col-sm-4 recent_post">
                    <div class="row m0 inner">
                        <div class="postText row m0">
                            {{ feed.feedback_content|safe|truncatechars:250 }}
                        </div>
                        <div class="media authorMeta">
                            <div class="media-left"><img src="{{ feed.image.url }}" style="width: 42px;" alt=""></div>
                            <div class="media-body media-middle">
                                <h5>{{ feed.name }}</h5>
                                <div class="row designation">www.themedesigner.in</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
{#                <div class="col-sm-4 recent_post">#}
{#                    <div class="row m0 inner">#}
{#                        <div class="postText row m0">#}
{#                            Etiam tristique sagittis pulvinar. Cras scelerisque dui ut, bibendum ante. dit neque eget lobortis. Nam eleifend sollicitudin nulla quis Interdum et malesuada fames.#}
{#                        </div>#}
{#                        <div class="media authorMeta">#}
{#                            <div class="media-left"><img src="/static/images/pages/doctors/1.png" alt=""></div>#}
{#                            <div class="media-body media-middle">#}
{#                                <h5>Angelina johnson</h5>#}
{#                                <div class="row designation">www.themeforest.net</div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-sm-4 recent_post">#}
{#                    <div class="row m0 inner">#}
{#                        <div class="postText row m0">#}
{#                            Etiam tristique sagittis pulvinar. Cras scelerisque dui ut, bibendum ante. dit neque eget lobortis. Nam eleifend sollicitudin nulla quis Interdum et malesuada fames.#}
{#                        </div>#}
{#                        <div class="media authorMeta">#}
{#                            <div class="media-left"><img src="/static/images/pages/doctors/1.png" alt=""></div>#}
{#                            <div class="media-body media-middle">#}
{#                                <h5>bekka adkins</h5>#}
{#                                <div class="row designation">www.themedesigner.in</div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </section>
  {% endblock %}