{% extends 'base.html' %}
{% load static i18n %}
{% block body %} 
        <section class="row background_slider_row">
        <div class="flexslider background_slider">
            <ul class="slides">
                <li style="display: block !important;"><img src="/static/images/doctor.png" alt="" class="img-responsive"></li>
            </ul>
        </div>         
     </section>
    <section class="row page_intro">
        <div class="row m0 inner">
            <div class="container">
                <div class="row">
{#                    <h5>about us</h5>#}
                    <h2>{{ about.title }}</h2>
                </div>
            </div>
        </div>
    </section>
    
    <section class="row breadcrumbRow">
        <div class="container">
            <div class="row inner m0">
                <ul class="breadcrumb">
                    <li><a href="{% url 'allapps:index' %}">Ana səhİfə</a></li>
                    <li>Haqqımızda</li>
                </ul>
            </div>
        </div>
    </section>
    
    <section class="row who_depts">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 who_weR">
                    <div class="row m0 titleRow text-left">
                        <h5>{{ about.meta_title }}</h5>
                        <h2>{{ about.title }}</h2>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img src="{{ about.image.url }}" alt=""></a>
                        </div>
                        <div class="media-body">
                            <p>{{ about.content|safe|truncatechars:500}}</p>
{#                            <a href="#" class="view_all">book appointment</a>#}
                        </div>
                    </div>
                </div>
{#                <div class="col-sm-12 col-md-4 our_depts_list">#}
{#                    <div class="row m0 titleRow text-left">#}
{#                        <h5>variety of services</h5>#}
{#                        <h2>our departments</h2>#}
{#                    </div>#}
{#                    <ul class="list-unstyled depts_list">#}
{#                        <li><a href="#"><i class="fa fa-arrow-right"></i> General health care</a></li>#}
{#                        <li><a href="#"><i class="fa fa-arrow-right"></i> rehabilitation center</a></li>#}
{#                        <li><a href="#"><i class="fa fa-arrow-right"></i> cancer care</a></li>#}
{#                        <li><a href="#"><i class="fa fa-arrow-right"></i> cardiac clinic</a></li>#}
{#                        <li><a href="#"><i class="fa fa-arrow-right"></i> nurology</a></li>#}
{#                        <li><a href="#"><i class="fa fa-arrow-right"></i> dental care</a></li>#}
{#                    </ul>#}
{#                </div>#}
            </div>
        </div>
    </section>
    
    
    <section class="row quick_blocks_row quick_blocks_row2">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 quick_block emmergency">
                    <div class="row m0 inner">
                        <div class="row heading m0">
                            <h5>quick help</h5>
                            <h3>Emergency cases</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectet uam porttitor, nunc et fringilla.</p>
                        <a href="{% url 'allapps:contact' %}">CONTACT US NOW</a>
                    </div>
                </div>
                <div class="col-sm-4 quick_block branches">
                    <div class="row m0 inner">
                        <div class="row heading m0">
                            <h5>in your country</h5>
                            <h3>263 branches</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectet uam porttitor, nunc et fringilla.</p>
                        <a href="contact.html">nearest location</a>
                    </div>
                </div>
                <div class="col-sm-4 quick_block bill_payments">
                    <div class="row m0 inner">
                        <div class="row heading m0">
                            <h5>smooth and easy</h5>
                            <h3>online bill payments</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectet uam porttitor, nunc et fringilla.</p>
                        <a href="contact.html">pay your bill now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    
{% endblock %}