{% extends "base.html" %}
{% load static i18n %}
{% block body %}
        <section class="row background_slider_row">
        <div class="flexslider background_slider">
            <ul class="slides">
                <li style="display: block !important;"><img src="/static/images/doctor.png" alt="" class="img-responsive"></li>
            </ul>
        </div>
     </section>
{#    <section class="row page_intro">#}
{#        <div class="row m0 inner">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <h5>service</h5>#}
{#                    <h2>Xəstəlİklər</h2>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

    <section class="row breadcrumbRow">
        <div class="container">
            <div class="row inner m0">
                <ul class="breadcrumb">
                    <li><a href="{% url 'allapps:index' %}">Ana səhifə</a></li>
                    <li>gelereya</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="row service_block_row bgf">
        <div class="container">
{#            <div class="row titleRow">#}
{#                <h5>sağlam olun !</h5>#}
{#                <h2>MEDICALPRO xİdmətlərİ</h2>#}
{#            </div>#}
            <div class="row">
                {% for g in gallery %}
                <div class="col-sm-6 col-md-4 service_block">
                    <div class="row m0 inner">
                        <div class="row icon"><img src="{{ g.image.url }}" style="width: 200px;" alt=""></div>
{#                        <a href="{{ g.get_absolute_url }}"><h4>{{ g.name }}</h4></a>#}
{#                        <p>{{ g.content|safe|truncatechars:250 }}</p>#}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}