{% extends "base.html" %}
{% load static i18n %}
{% block body %}
<section class="row background_slider_row">
        <div class="flexslider background_slider">
            <ul class="slides">
                <li style="display: block !important;"><img src="/static/images/doctor.png" alt="" class="img-responsive"></li>
            </ul>
        </div>         
     </section>

    <section class="row page_intro">
        <div class="row m0 inner">
            <div class="container">
                <div class="row">
                    <h5>Bİzİmlə əlaqə</h5>
                    <h2>həkİmlə əlaqə qurun</h2>
                </div>
            </div>
        </div>
    </section>
    
    <section class="row breadcrumbRow">
        <div class="container">
            <div class="row inner m0">
                <ul class="breadcrumb">
                    <li><a href="{% url 'allapps:index' %}">Ana səhİfə</a></li>
                    <li>Bİzİmlə əlaqə</li>
                </ul>
            </div>
        </div>
    </section>
    
    <section class="row contact_intro">
        <div class="container">
            <div class="row inner m0">
                <div class="col-sm-5 p0">
                    <img src="{{ contact_section.image.url }}" alt="360x512">
                </div>
                <div class="col-sm-7">
                    <h2>{{ contact_section.title }}</h2>
                    <p>{{ contact_section.content|safe }}</p>
                    <div class="row m0 phone_fax"><div class="fleft phone">Tel:{{ settings.number }}</div><div class="fleft fax">Fax:(800) 123-45567</div></div>
                    <div class="row m0 email_address">E-Mail:&nbsp;{{ settings.email }}</div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="row contact_form_row">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 contact_form_area">
                    <h3 class="contact_section_title">Bİzə yazın</h3>
                    <div class="contactForm row m0">
                        <form class="row contact_form" id="contactForm" method="POST">
                            {% csrf_token %}
                            <div class="row m0">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <label for="contact_fname">Adı</label>
                                        {{ con_form.first_name }}
                                    </div>
                                    <div class="input-group">
                                        <label for="contact_femail">E-mail ünvanı</label>
                                        {{ con_form.email_address }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <label for="contact_lname">Soyadı</label>
                                        {{ con_form.last_name }}
                                    </div>
                                    <div class="input-group">
                                        <label for="contact_fphone">Mobİl nömrə</label>
                                        {{ con_form.phone_number }}
                                    </div>
                                </div>
                            </div>
                            <div class="row m0">
                                <div class="col-sm-12">
                                    <label for="contact_fmsg">Mesaj&nbsp;/&nbsp;Rəy</label>
                                        {{ con_form.message }}
                                </div>
                            </div>
{#                            <div class="row m0 security_captcha">#}
{#                                <div class="col-sm-12">#}
{#                                    <div class="fleft security_label"><label for="contact_fsc">security captcha</label></div>#}
{#                                    <div class="fleft security_captcha_input"><input type="text" class="form-control" id="contact_fsc" name="contact_fsc"><input type="text" value="1v0h92" class="hidden" id="contact_fsc_hidden"></div>#}
{#                                    <div class="fleft security_img"><img src="/static/images/captcha.png" alt=""></div>#}
{#                                </div>#}
{#                            </div>#}
                            <div class="row m0">
                                <div class="col-sm-12">
                                    <input type="submit" class="submit_btn" value="göndər">
                                </div>
                            </div>
                        </form>
                    {% for message in messages %}
                        {% if 'success' in message.tags %}
                        <div id="success">
                            <span>
                                {{ message }}
                            </span>
                        </div>
                        {% elif "error" in message.tags %}
                        <div id="error">
                            <span>
                                {{ message }}
                            </span>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
                <div class="col-sm-4 contact_address">
                    <h3 class="contact_section_title">Address</h3>
                    <div class="row address m0">
                        <div class="media address_line">
                            <div class="media-left icon"><i class="fa fa-map-marker"></i></div>
                            <div class="media-body address_text">{{ settings.adress }}</div>
                        </div>
                        <div class="media address_line">
                            <div class="media-left icon"><i class="fa fa-envelope"></i></div>
                            <div class="media-body address_text">{{ settings.email }}</div>
                        </div>
                        <div class="media address_line">
                            <div class="media-left icon"><i class="fa fa-phone"></i></div>
                            <div class="media-body address_text">{{ settings.number }}</div>
                        </div>
{#                        <a href="#" class="view_all">get directions</a>#}
                    </div>
                </div>
            </div>
        </div>
    </section>
   
{% endblock %}